html,body{
    background-color: lightslategrey;
    width: 100%;
    height: 100%;
}
body{
    align-self: center;
}
table{
    /* background-color: antiquewhite; */
    padding: 5px;
    width: 100%;
    height: 100%;
}
table td{
    background-color: lightcoral;
    height: 50%;
}