html,body{
    height: 100%;
    width: 100%;
}
.box1{
    height: 100px;
    width: 200px;
    background-color: lightblue;
    margin-bottom: 10px;
    padding: 5px;
    overflow: hidden;
    display: flexbox;

}
.box2{
    height: 100px;
    width: 200px;
    background-color: lightcyan;
    
}
.container{        
    display: flex;
    /* text-align: center;*/
    margin-right: 5px; 
    justify-content: center; 
    align-items: center;

} 
.child1{
    height: 100px;
    width: 50%;
   background-color:lightgreen ;
   text-align: center;
}
.child2{
    height: 100px;
    width: 50%;
    background-color: lightcoral;
    text-align:center;
    display: flex;
    justify-content: center;
}
/* .child2 {
    display: flex;
    margin-right: 5px;
} */
.child2 h1{
    margin-right: 5px;
}
#gender{
    display: flex;

}
